
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post">
    <input type="text" name="firstNumber" value="" placeholder="Insert first number" />
    <input type="text" name="operater" value="" placeholder="Insert operator" />
    <input type="text" name="secondNumber" value="" placeholder="Insert second number" />
    <input type="button" value="Submit" />
</form>