
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post">
    <input type="text" name="firstNumber" value="" placeholder="Insert first number" />
    <input type="text" name="operater" value="" placeholder="Insert operator" />
    <input type="text" name="secondNumber" value="" placeholder="Insert second number" />
    <button>Submit</button>
</form>
<br />
<br />

@if (ViewBag.Answer != null)
{
    <h3>@ViewBag.Answer</h3>
}
@if (ViewBag.WrongInput != null)
{
    <h3>@ViewBag.WrongInput</h3>
}